{% extends 'base_generic.html' %}

{% block title %}Resultados{% endblock %} 

{% block content %}
    <h1>Resultados</h1>
    {% for testType in testTypes %}
        <details>
            <summary>{{testType}}</summary>
            {% for test in tests %}
                {% ifequal testType test.test %}
                    <details>
                        <summary>{{test}}</summary>
                        a
                    </details>
                {% endifequal %}
            {% endfor %}
        </details>
    {% endfor %}
{% endblock %}
