<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/procesor_preguntas" method="POST">
        {% for pregunta in preguntas %}
        <h3> {{ pregunta.texto }} </h3>
            <div>
                <input type="radio" id="a{{pregunta.id}}" name="{{pregunta.id}}" value="De acuerdo">
                <label for="a{{pregunta.id}}">Acuerdo</label>
            </div>
            <div>  
                <input type="radio" id="c{{pregunta.id}}" name="{{pregunta.id}}" value="Desacuerdo">
                <label for="c{{pregunta.id}}">Desacuerdo</label>
            </div>
        {% endfor %}
        <button type="submit">enviar</button>
    </form>
</body>
</html>





