{% extends 'base_generic.html' %}

{% block title %}Test {{test.id}}{% endblock %}

{% block content %}
    <h1> {{ test.nombre }} </h1>
    <form action="/procesar_preguntas/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="testID" value="{{test.id}}">
        {% for pregunta in preguntas %}
            <h4> {{ pregunta.texto }} </h4>
            <div>
                <input type="radio" id="a{{pregunta.id}}" name="{{pregunta.id}}" value="1" checked>
                <label for="a{{pregunta.id}}">Acuerdo</label>
            </div>
            <div>  
                <input type="radio" id="c{{pregunta.id}}" name="{{pregunta.id}}" value="-1">
                <label for="c{{pregunta.id}}">Desacuerdo</label>
            </div>
        {% endfor %}
        <br>
        <button type="submit">enviar</button>
    </form>
{% endblock %}
