html {
    background-image: url("/static/blog/images/productive.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    background: burlywood;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.container-fluid {
    height: 100%;
    width: 160px;
    position: fixed;
    background-color: rgb(245, 204, 188);
    overflow-x: hidden;
    padding-top: 20px;
    position: fixed;
    
}