:root {
    --primary: #ffffff;
    --light: #ffffff;
    --grey: #efefef;
}

body {
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    color: var(--primary);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.bg-primary {
    background-color: var(--primary) !important;
}

#sidebar-container {
    min-height: 100vh;
    position: fixed;
}

#sidebar-container .logo {
    padding: .875rem 1.25rem;
}

#sidebar-container .menu {
    width: 18rem;
}

#content {
    margin-left: 300px;
    height: 100vh;
    padding-bottom: 5rem;
}

.card-results:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    transition: 1s;
}

.card-1:hover{
    background-color: rgb(204, 204, 244);
}

.card-2:hover{
    background-color: rgb(244, 204, 204);
}