{% extends 'base_generic.html' %}
{% block title %}Vista invitado {% endblock %}
{% block content %}
    <div class="container text-dark card">
        <h1 class=" p-2">!~Bienvenid@~!</h1>
        <h2>a tu Vocacion IKIGAI!</h2>
        <p>Que es ikigai? IKIGAI es un concepto proveniente de japon que significa "La forma del vivir" o "La razon de vivir", esta vision se centra en cuatro areas principales de las cuales nos centraremos principalmente en dos: "Lo que amas" y "En lo que eres bueno" para ayudarte en tu decision a futuro.</p>
        <p>El Ikigai busca que comprendas de forma mas profunda lo que realmente quieres y deseas, busca que te encuentres a ti mismo. Pero! nosotros no haremos eso, sino que te daremos junto a IKIGAI una ayuda mas para guiarte en tu decision para tu proxima carrera.</p>
        <h2>COMO FUNCIONA!</h2>
        <p>Podras realizar dos tests que representan a las dos areas que te mencionamos antes donde al final podras visualizar tus preferencias para ambas caracteristicas del IKIGAI</p>
    </div>
    
    
{% endblock %}