{% extends 'base_generic.html' %}
{% block title %}Vista invitado {% endblock %}
{% block content %}
    <div class="container text-dark card">
        <h1 class=" p-2">¡Bienvenid@!... </h1>
        <h2>a tu vocación IKIGAI</h2>
        <p>¿Qué es IKIGAI? IKIGAI es un concepto proveniente de Japón que significa "la forma del vivir" o "la razón de vivir", esta visión se centra en cuatro áreas principales de las cuáles, nos centraremos principalmente en dos: "Lo que amas" y "En lo que eres bueno", para ayudarte en tu decision a futuro :D</p>
        <p>El IKIGAI busca que comprendas de forma más profunda lo que realmente quieres y deseas, busca que te encuentres a ti mismo. ¡Pero! nosotros no haremos eso, sino que te daremos junto a IKIGAI una ayuda más para guiarte en tu decisión para tu próxima carrera.</p>
        <h2>¿CÓMO FUNCIONA?</h2>
        <p>Podrás realizar dos tests que representan a las dos áreas que te mencionamos antes, donde al final, podrás visualizar tus preferencias para ambas caracteristicas del IKIGAI</p>
    </div>
    
    
{% endblock %}