{% extends 'base_generic.html' %}

{% block title %}Resultados{% endblock %} 

{% block content %}
    <h1 class="card p-3">Resultados</h1>    

    {% comment %} Grafico {% endcomment %}

    <div class="">
        <canvas id="Chart" width="600" height="490" class="card"></canvas>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.1/chart.min.js"></script>
        <script>
            var Canvas = document.getElementById("Chart");

            var marksData = {
                labels: [
                    {% for area in Areas %}
                        "{{area}}",
                    {% endfor %}
                ],
                datasets: [
                    {% for testType in testTypes %}
                        {
                            label: "{{testType.nombre}}",
                            {% for nombre, color in Colores.items %}
                                {% if nombre == testType.nombre %}
                                    backgroundColor: "{{color}}",
                                {% endif %}
                            {% endfor %}
                            data: [
                                {% for area in Areas %}
                                    {% for Respuesta in Respuestas_tests %}
                                        {% if Respuesta.pregunta.area.id == area.id %}
                                            {% if Respuesta.pregunta.test.id == testType.id %}
                                                {{Respuesta.respuesta}}+
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    0,
                                {% endfor %}
                            ]
                        },
                    {% endfor %}
                ]
            };

            var radarChart = new Chart(Canvas, {
                type: 'radar',
                data: marksData,
            });
        </script>
    </div>


    {% comment %} Test previos {% endcomment %}
    <div>
        
        {% for testType in testTypes %}
            
                <summary class="card mt-3 card-results card-{{testType.id}}">
                    <div class="card-body">
                        <h3 class="card-title text-muted"> {{testType.nombre}}</h3>
                        {% for test in ultimosTestsUsuario %}
                            {% ifequal testType test.test %}   
                                <h1 class="card-text" >{{test.resultado}}</h1>
                                
                                {% for dato in datos_areas %}
                                    {% ifequal test.resultado.nombre dato.area %}
                                        {{dato.mensaje}}
                                        {% for carrera in dato.carreras %}
                                            <div class="p-1">
                                                <details>
                                                    <summary>{{ carrera }}</summary>
                                                    {{ datos_ingresos|get_sueldo:carrera }}                                                    
                                                </details>
                                    
                                            </div>
                                        {% endfor %}
                                    {% endifequal %}
                                {% endfor %}
                                
                                
                            {% endifequal %}
                        {% endfor %}
                    </div>
                </summary>
                <div class="card mb-2 p-3">
                    <details>
                        <summary>Historial</summary>
                        <p>
                        {% for test in tests %}
                            {% ifequal testType test.test %}
                                <li><a href="#"> {{test}}: {{test.resultado}} </a></li>
                            {% endifequal %}
                        {% endfor %}
                        </p>
                    </details>
                </div>
        
        {% endfor %}

        
    </div>
{% endblock %}
